/*#header {
	font-family: montserrat, sans-serif;
	font-style: bold;
	font-weight: 40px;
	color: #000000;
	text-align: center;
	padding-top: 50px;
}*/

.jumbotron {
	background-image: url(IMG_0006crop.jpg);
	opacity: 0.9;
	background-size: 100%;
	background-repeat: no-repeat;
	font-family: montserrat, sans-serif;
	font-style: bold;
	font-weight: 40px;
	color: #ffffc2;
	text-align: center;
	padding-top: 50px;

}

#transbox {
	color: #000000;
}

.container1 {
	height:400px;
	width: auto;
	background-color: #ffffc2;
	padding: 20px 20px 20px 20px;
	font-family: montserrat, sans-serif;
	text-align: left;
}

.container2 {
	height:400px;
	width: auto;
	background-color: #ffffc2;
	padding: 20px 20px 20px 20px;
	font-family: montserrat, sans-serif;
	text-align: right;
}
